.newchat {
    width: 35%;
    max-width: 415px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #DDD;
    transition: all ease 0.5s;
}

.newchat-head {
    display: flex;
    background-color: #00BFA5;
    padding: 60px 15px 15px 15px;
    align-items: center;
}

.newchat-back {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.newchat-title {
    font-size: 19px;
    height: 40px;
    line-height: 40px;
    flex: 1;
    font-weight: bold;
    color: #fff;
    margin-left: 20px;
}

.newchat-list {
    flex: 1;
    overflow-y: auto;
}

.newchat-list::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.newchat-list::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.2);
}

.newchat-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 15px;
}

.newchat-item:hover{
    background-color: #f5f5f5;
}

.newchat-item img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.newchat-name {
    font-size: 17px;
    color: #000;
}